@use 'variables.scss';
@use 'z-index.scss';
@use 'animations.scss';
@use 'components/terminal.scss';
@use 'components/resize-handle.scss';
@use 'components/code.scss';
@use 'components/editor.scss';
@use 'components/toast.scss';

html,
body {
  height: 100%;
  width: 100%;
  background-color: #1730b8 !important;
  background-image: none !important;
  color: #ffffff;
}

:root {
  --thefortz-blue: #1730b8;
  --thefortz-orange: #e26e03;
  --thefortz-purple: #8340ed;
  --thefortz-green: #22c55e;
  --primary-color: #e26e03;
  --secondary-color: #8340ed;
  --accent-color: #22c55e;
}


